@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c9d6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c9d6ff, #e2e2e2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

code {
  font-family: 'Poppins',sans-serif !important;
}

.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}


.m-50{
  margin-top: 50px;
}

.d-flex{
  display:  flex;
}

.m-auto{
  margin: auto;
}

.cursor-pointer{
  cursor: pointer;
}
